apiVersion: apps/v1
kind: Deployment
metadata:
  name: ciscoaciaim-operator
  namespace: openstack-operators
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ciscoaciaim-operator
  template:
    metadata:
      labels:
        app: ciscoaciaim-operator
    spec:
      serviceAccountName: ciscoaciaim-operator-controller-manager
      containers:
      - name: ciscoaciaim-operator
        image: registry.connect.redhat.com/noiro/rhoso18-aim-operator:latest
        imagePullPolicy: Always
        command: ["/manager"]
        ports:
        - containerPort: 80
        env:
        - name: WATCH_NAMESPACE
          value: openstack-operators
